@font-face
{
    font-family: Arcade;
    src: url("fonts/karmatic_arcade/ka1.ttf");
    
}

body
{
    background-color: #c01111;
    height: 100vh;
    width: 100vw;
    margin: 0;
}


table
{
    position: relative;
    border-spacing: 30px 25px;
    max-width: 50%;
    margin: 0px;
}

td
{
    /*padding-left: 6vw;
    padding-right: 6vw;
    padding-bottom: 2vh;
    */
    margin: 0px;
    max-height: fit-content;
    max-width: fit-content;
}

#game-instructions-div
{
   
    position: absolute;
    top: 30vh;
    left: 1vw;
    max-width: 25%;
    overflow-wrap: break-word;
}

#game-instructions-button
{
    width: fit-content;
    border-radius: 25%;
    border: 5px solid black;
    font-size: 2em;
    font-family:Arcade;
    background-color: transparent;
}

#game-instruction-text
{
    position: relative;
    font-size: 0em;
    font-style: italic;
    color: rgb(184, 176, 176);
}

#game-text
{
    font-size:5em;
    font-family: Arcade;
    position: relative;
    top: 10vh;
    height: fit-content;
    width: fit-content;
}

#game-div
{
    
    max-height: fit-content;
    max-width: fit-content;
    position: relative;
    top: 16vh;
    
}

#bird
{
    border: 5px solid black;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}



#monkey
{
    border: 5px solid black;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}

#lion
{
    border: 5px solid black;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}

#dog
{
    border: 5px solid black;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}

#game-table
{
    position: relative;
}