@font-face
{
    font-family: Arcade;
    src: url("fonts/karmatic_arcade/ka1.ttf");
    
}

body
{
    background-color: #c01111;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url("images/background.jpg");
}


table
{
    position: relative;
    border-spacing: 30px 25px;
    max-width: 50%;
    margin: 0px;
}

td
{
    margin: 0px;
    max-height: fit-content;
    max-width: fit-content;
}

#game-instructions-div
{
    position: absolute;
    top: 30vh;
    left: 1vw;
    max-width: 25%;
    overflow-wrap: break-word;
}

#game-instructions-button
{
    color: grey;
    width: fit-content;
    border-radius: 25%;
    border: 5px solid grey;
    font-size: 2em;
    font-family:Arcade;
    background-color: transparent;
}

#game-instruction-text
{
    position: relative;
    font-size: 0em;
    font-style: italic;
    color: rgb(184, 176, 176);
}

#game-text
{
    font-size:5em;
    font-family: Arcade;
    position: relative;
    top: 10vh;
    height: fit-content;
    width: fit-content;
}

#game-div
{
    
    max-height: fit-content;
    max-width: fit-content;
    position: relative;
    top: 16vh;
    
}

#bird
{
    border: 5px solid grey;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}



#monkey
{
    border: 5px solid grey;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}

#lion
{
    border: 5px solid grey;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}

#dog
{
    border: 5px solid grey;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}

#game-table
{
    position: relative;
}

#start
{
    padding: 15px 25px;
    width: 12vw;
    height: 10vh;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: grey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: Arcade;
    position: relative;
    top: 2vh;
}

#start:hover
{
    background-color: #3e8e41;
}

#start:active 
{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}

.unselectable {

  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#leaderboard
{
    border: 2px solid white;
    color:white;
    position: absolute;
    right: 7%;
    top: 30%;
}

#leaderboard td
{
    border: 2px solid white;
    font-size: 2em;
}

#leaderboard th
{
    font-size: 2em;
}

#quit
{
    position: absolute;
    right: 0;
    top: 0;
    width: fit-content;
    height:5vw;
    font-size: 4em;
    font-family: Arcade;
    color:red;
    background-color:black;
}

/*Pregame section*/

#pregame-information
{
    color: black;
    position: relative;
    top: 30vh;
}

#pregame-text
{
    font-family: Arcade;
    font-size: 4em;
}

#pregame-input
{
    display: block;
    width: fit-content;
    height: 5vh;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    top:12vh;
}


#pregame-next
{
    padding: 15px 25px;
    width: 12vw;
    height: 10vh;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: grey;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: Arcade;
    position: relative;
    top: 23vh;
}

#pregane-next:hover
{
    background-color: #3e8e41;
}

#pregame-next:active 
{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(10px);
}